extends ../_layout
block body
  div(class="page-header")
    h1 Items
  p #{items.length} 件
    a(href="/items/new") 追加
  table(class="table")
    - each item in items
      tr
        td
          = item.get("name")
        td
          a(href="/items/show/#{item.id}") 詳細
        td
          a(href="/items/edit/#{item.id}") 編集
        td
          form(action="/items/destroy", method="post", name="d-#{item.id}")
            input(name="id", type="hidden", value="#{item.id}")
            input(name="name", type="hidden", value="#{item.get('name')}")
            input(type="submit", value="削除")
